* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #bf9a78;
  width: 100vw;
  height: 100vh;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 1em;
}

.banner {
  width: 50%;
  height: 20%;
  border-radius: 1em;
}
.container, img, aside {
  display: inline-flex;
  margin: 1em;
}

aside {
  background-color: #f2f0f0;
  font-size: 1em;
  line-height: 2.3em;
  text-align: justify;
  border-radius: 2em;
  padding: 3em;
  width:50%;
}

.botao_nav {
  display: flex;
  padding: 1em;
  justify-content: center;
}

.btn_inicial {
  width: 8em;
  height: 3em;
  margin-bottom: 1em;;
  background-color: #bf584e;
  border: none;
  border-radius: 0.8em;
  cursor: pointer;
  font-size: 1.2em;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

footer {
  background-color: #731a1a;
  height: 5em;
  align-items: center;
}

.github {
  text-align: center;
  padding: 1.3em;
  font-weight: bold;
  line-height: 1.2em;
}

/*-- RESPONSIVO */
/*tablet*/
@media screen and (max-width: 768px) {
.logo {
  width: 50%;
}
.container, img, aside {
  display: inline;
}
.banner, aside {
  width: 600px;
  height: 280px;
  margin-left:5em;
}
aside {
padding:1em;
}

.banner, aside {
  display: flex;
}
}
