/*RESET*/
* {
  padding: 0;
  margin: 0;
}

/* PÁGINA FILMES */
body {
  background-color: #bf9a78;
  width: 100vw;
  height: 100vh;
  font-family: Poppins, sans-serif;
}

/*MENU*/
.logo {
  display: block;
  width: 20%;
  float:left;
}

.menu  {
  padding: 1em;
}

.nav-list li {
  display: inline-flex;
  list-style-type: none;
  padding: 3em;
  margin: 2em;
  justify-content: space-evenly;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
 
/*INPUT FILTROS*/
.filterMovies,
.filterCharacter {
  display: flex;
  border-radius: 0.8em;
  justify-content: space-around;
}

.searchTitle,
.searchPeople,
.sortAlfa,
.releaseDate,
.director,
.genderPerson {
  width: 200px;
  border-radius: 1em;
  padding: 0.7em;
  text-align: center;
  border: solid 2px;
}

.btnClear {
  background-color: #4f731a;
  width: 9em;
  height: 3em;
  color: white;
  border-radius: 0.8em;
  border: 2px solid black;
}

/*CARDS*/
.cards,
.cardsCharacter {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 2em;
}

.card {
  background-color: #731f35;
  box-shadow: 10px 10px 10px 0 #000000;
  padding: 1.5em;
  box-sizing: border-box;
  width: 100%;
  margin-left: 5em;
  margin-bottom: 2em;
  display: flex;
}
.cardChar {
  background-color: #731f35;
  box-shadow: 10px 10px 10px 0 #000000;
  padding: 1.5em;
  box-sizing: border-box;
  width: 70%;
  margin-left: 3em;
  margin-bottom: 2em;
  display: flex;
}

.img-card {
  width:280px;
  border-radius: 3%;
  box-shadow: 10px 10px 10px 0 #000000;
}

.img-card-people {
  width:250px;
  border-radius: 3%;
  margin-top: 2em;
  box-shadow: 10px 10px 10px 0 #000000;
}
.poster-details {
  margin-top: 5em;
  display:block;
  padding: 4em;
  color: white;
  font-size: 1em;
}

.title-card,
.name-card {
  font-size: 0.9em;
  text-align: center;
  padding: 0.8em;
  color: white;
}

/*FOOTER*/
footer {
  background-color: #731f35;
  height: 5em;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.github {
  text-align: center;
  padding: 1.3em;
  font-weight: bold;
  line-height: 1.2em;
}
