/*RESET*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #BF9A78;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: Poppins;
}
/*MENU*/

.menu, li {
  display: inline;
  margin: 2em;
  list-style-type: none;
  font-size: 1.1em;
}

.banner {
  width: 100vw;
  height: 35vh;
}
.link {
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

/*FILTROS FILMES*/
.filterMovies, .filterCharacter {
  display: flex;
  justify-content: space-around;
}

.searchTitle,
 .searchPeople,
 .sortAlfa,
.director,
.genderPerson {
  border-radius: 8em;
  padding: 0.8em;
  text-align: center;
  border: solid 2px;
}

.searchButton,
.btnClear {
  background-color: #731F35;
  width: 9em;
  height: 3em;
  color: white;
  border-radius: 0.8em;
  border: 2px solid black;
}

/*POSTER FILMES*/
.cards {
  display: flex;
  width: 98%;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 3em;
  grid-gap: 5em;
  padding: 2em;
}

.img-card {
  box-shadow: 10px 10px 10px 0 #000000;
  padding: 1.5em;
  background-color:	#731F35;
}

.title-card, .name-card {
  font-size: 0.9em;
  text-align:center;
  padding:0.8em;
  color:white;
}

/*CARDS PERSONAGENS*/
.cardsCharacter {
display: flex;
width: 98%;
justify-content: space-around;
flex-wrap: wrap;
flex-direction: row;
margin-top: 3em;
grid-gap: 5em;
padding: 2em;
}

/*FOOTER*/
footer {
  background-color: #731F35 ;
  height:5em;
  align-items: center;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .github {
    text-align: center;
    padding: 1.3em;
    font-weight: bold;
    line-height:1.2em;
  }

